node_modules/
config/config.json
data/replies.json
data/anime.json
common_learning.txt
logs.txt
logs*.txt
announce.json
announceFIN.txt
*statistics.json
images/*.gif
images/*.jpg
images/*.jpeg
images/*.webm
images/*.png
data/anime.json
data/replies.json
locales/custom.json
data/AI.json
data/responses.txt
.vscode/
.dccache
data/data.csv
